@page "/counter"
@attribute [StreamRendering(true)]
@using HockeyStatsTracker.Models
@inject HttpClient Http

<h3>Matches</h3>

@if (matches == null)
{
    <p><em>Loading...</em></p>
}
else
{
    foreach (var match in matches)
    {
        <p>@match.HomeTeam vs @match.AwayTeam - @match.HomeGoals:@match.AwayGoals @match.Suffix - @match.Date.ToShortDateString()</p>
    }
}

@code {
    private IEnumerable<MatchResultFE> matches;

    protected override async Task OnInitializedAsync()
    {
        matches = await Http.GetFromJsonAsync<IEnumerable<MatchResultFE>>("api/Matches");


    }
}